.card-container {
  margin: 2px 18px;
}
@media (min-width: 980px) {
  .card-container {
    margin: 2px 23px;
  }
}
@media (max-width: 375px) {
  .card-container {
    margin: 2px 12px;
  }
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: flex-start;
}
@media (min-width: 980px) {
  .flex-container {
    justify-content: flex-start;
  }
}
@media (max-width: 375px) {
  .flex-container {
    justify-content: center;
  }
}
