.App-navbar {
  font-family: "Montserrat", sans-serif;
  height: 8vh;
  background-color: #ffffff;
}
@media (min-width: 980px) {
  .App-navbar {
    height: 10vh;
  }
}
@media (max-width: 375px) {
  .App-navbar {
    height: 6vh;
  }
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;

  font-size: calc(10px + 2vmin);
  color: #292c2f;
  font-family: "Montserrat", sans-serif;

  margin: 1rem 1rem;
}
