.App-navbar {
  font-family: "Montserrat", sans-serif;
  height: 10vh;
  background-color: #292c2f;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
