.App-navbar {
  font-family: "Montserrat", sans-serif;
  height: 8vh;
  background-color: #ffffff;
}

.navbar-container {
  list-style: none;
  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
@media (max-width: 800px) {
  .navbar-container {
    justify-content: space-around;
  }
}
@media (max-width: 600px) {
  .navbar-container {
    flex-direction: column;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;

  font-size: calc(10px + 2vmin);
  color: #292c2f;
  font-family: "Montserrat", sans-serif;

  margin: 1rem 1rem;
}
