div.vega-embed > canvas {
  width: 200px;
  height: 200px;
}

div.content > div.meta {
  font-size: 0.8vh;
}
@media (min-width: 980px) {
  div.content > div.meta {
    font-size: 1vh;
  }
}
@media (max-width: 375px) {
  div.content > div.meta {
    font-size: 0.5vh;
  }
}
