.white-box {
  padding-right: 20px !important;
  padding-left: 20px !important;
  padding-top: 15px;
  padding-bottom: 5px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}

.container-centered-children {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
